<DOCTYPE! html>
<head>
<title>Assignment01</title>
</head>
<body>
<div>
    <img src="Images/ProfPic.JPG" alt= "Profile Picture" width="96" height="128">
<p>Talia Lewis</p>
    <ul>
        <li>Junior in Arts and Sciences</li>
        <li>Science and Technology Studies Major</li>
        <li>Minors in Education and History</li>
    </ul>
    <a href="assignment1.html">Link to Professional Experience</a>
    </div>
</body>
</DOCTYPE!>