<DOCTYPE! html>
    <head>
    <title>Assignment01</title>
    </head>
    <body>
        <div>
    <img src="Images/IMG_2727.JPG" alt="Profile Picture 2" width="128" height="128">
            <p>Talia Lewis: Professional Experience</p>
            <ul>
            <li>Lead Teacher at Kopernik Observatory</li>
            <li>Teacher at Cornell Adult University</li>
            <li>Tutor at Ithaca High School, AVID Program</li>
            </ul>
            <a href="Assignment1.1.html"> Link to Personal Page</a>
        </div>
    </body>
    </DOCTYPE!>